<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.photo.dao.PhotoPathDao">
  <resultMap id="BaseResultMap" type="com.alice.photo.model.PhotoPath">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="location_id" jdbcType="INTEGER" property="locationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, type, path, location_id
  </sql>
</mapper>